 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

  body {
       background-image: url('https://images.unsplash.com/photo-1508108712903-49b7ef9b1df8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');  
    
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5; 
    
  } 
 
  label{
    color:mediumvioletred
  }
  input{
    color:red
  }
  
  .container {
    margin: auto;
    width: 500px;
     overflow: auto; 
    padding: 3rem 2rem;
  }
  
  #my-form {
    padding: 2rem;
    background: #c3ec6b;
  }

   #my-form input[type = "text"] {
     width: 100%; 
     padding: 6px; 
      margin-bottom: 10px;  
    border-radius: 5px;
     border: 1px solid #ccc; 
  } 

    .btn {
    padding: 10px 15px;
     border: 0;
    background: #e40b2b;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0; 
  }  
  
  .btn:hover {
    background-color: green;
  }
 
    